.container{
  max-width: 600px;
  margin: 0 auto;
}

.mainArea {
  display: flex;
  flex-direction: row;
}

.imageArea {
  width: 50%;
  height: auto;
}

.textArea {
  display: flex;
  flex-direction: row;
}

.item {
  width: 50%;
  height: auto;
}

#blueText{
  display: flex;
  justify-content: flex-end;
  width: 1;
}

.emptyArea{
  width: 50%;
  height: auto;
}

/* .start{
  justify-content: flex-start;
}
.end{
  justify-content: flex-end;
} */
